<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.yabesco.bescotempwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">

        <receiver
            android:name="ru.yabesco.bescotempwidget.BescoTemp"
            android:icon="@drawable/logo"
            android:label="@string/widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" >
            </meta-data>
        </receiver>

        <activity android:name="ru.yabesco.bescotempwidget.ConfigWidget" >        	
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
